@mixin imx-icon-for-image-button {
  eui-icon {
    font-size: 14px;
    margin-right: 4px;
  }
}

@mixin imx-flex-fill-control-hidden-overflow{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@mixin imx-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;

  > button:not(:last-of-type) {
    margin-right: 16px;
  }

  .imx-menu-spacer {
    flex: 1 1 auto;
  }

  .mat-stroked-button,
  .mat-raised-button {
    @include imx-icon-for-image-button;
  }
}

@mixin imx-button-column-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .mat-stroked-button {
      @include imx-icon-for-image-button;
      margin-right: 16px;
    }
}