<div class="imx-content-header">
  <h2 class="mat-headline">
    {{ '#LDS#Synchronization' | translate }}
  </h2>
</div>
<div class="imx-table-container">
  <imx-data-source-toolbar
    [alwaysVisible]="true"
    #dst
    [settings]="dstSettings"
    (search)="onSearch($event)"
    [options]="['search', 'filter', 'groupBy']"
    (navigationStateChanged)="getData($event)"
  >
    <imx-data-source-toolbar-custom [customContentTemplate]="customToolbarTemplate"></imx-data-source-toolbar-custom>
  </imx-data-source-toolbar>
  <imx-data-table [dst]="dst" detailViewVisible="false" mode="manual">
    <imx-data-table-column [entityColumn]="entitySchemaSyncInfo?.Columns.DisplayName">
      <ng-template let-data>
        {{ data.DisplayName.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaSyncInfo?.Columns.Description">
      <ng-template let-data>
        {{ data.Description.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaSyncInfo?.Columns.NextSyncDate">
      <ng-template let-data>
        {{ data.NextSyncDate.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaSyncInfo?.Columns.CountJournalFailure">
      <ng-template let-data>
        {{ data.CountJournalFailure.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaSyncInfo?.Columns.LastSyncCountObjects">
      <ng-template let-data>
        {{ data.LastSyncCountObjects.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-generic-column columnName="actions">
      <ng-template let-dataItem>
        <button mat-button color="primary" (click)="viewDetails(dataItem)">{{ '#LDS#Details' | translate }}</button>
      </ng-template>
    </imx-data-table-generic-column>
  </imx-data-table>
  <imx-data-source-paginator [dst]="dst"></imx-data-source-paginator>
</div>

<ng-template #customToolbarTemplate>
  <button mat-stroked-button color="primary" class="imx-refresh-button" (click)="refresh()">
    <eui-icon icon="sync"></eui-icon>
    <span>{{ '#LDS#Refresh' | translate }}</span>
  </button>
</ng-template>
