<div class="attestation-schedules">

  <div>
    <div class="heading-wrapper">
      <h1 class="mat-headline" translate>#LDS#Heading Attestation Schedules</h1>

      <div class="alert-wrapper">
        <eui-alert *ngIf="showHelperAlert" class="helper-alert" type="info" condensed="true" [colored]="true"
          [dismissable]="true" (dismissed)="onHelperDismissed()">
          <span translate>
            #LDS#Here you can manage attestation schedules. You can configure the time zone, start time, and frequency for each schedule.
          </span>
        </eui-alert>

      </div>
    </div>

    <div class="imx-table-container">
      <imx-data-source-toolbar #dst [settings]="dstSettings"
        [options]="['search', 'filter']"
        [hiddenFilters]="['namespace']"
        [searchBoxText]="'#LDS#Search' | translate" (navigationStateChanged)="onNavigationStateChanged($event)"
        (search)="onSearch($event)"></imx-data-source-toolbar>

      <imx-data-table class="imx-attestation-schedules-table" [dst]="dst" mode="auto" (highlightedEntityChanged)="onAttestationScheduleSelected($event)" detailViewVisible="false"
        noDataText="#LDS#There are currently no attestation schedules." noMatchingDataText="#LDS#There are no matching attestation schedules."
        data-imx-identifier="attestation-schedules-tabledata-table">
      </imx-data-table>
      <imx-data-source-paginator [dst]="dst"></imx-data-source-paginator>
    </div>

  </div>
</div>
