<h1 class="mat-headline">{{ '#LDS#Heading Operation History' | translate }}</h1>
<div class="search-type">
  <label>{{ '#LDS#Show operations by' | translate }}:</label>
  <mat-radio-group [attr.data-imx-identifier]="'search-type-radio-group'" class="search-type-radio-group"
    [(ngModel)]="selectedSearchType" (change)="searchTypeChange()">
    <mat-radio-button class="search-type-radio-button" [attr.data-imx-identifier]="'search-type-radio-button-user-name'"
      [value]="'UserName'">
      {{ '#LDS#User' | translate }}
    </mat-radio-button>
    <mat-radio-button class="search-type-radio-button"
      [attr.data-imx-identifier]="'search-type-radio-button-date-range-and-change-type'"
      [value]="'ChangeType'">
      {{ '#LDS#Type of operation' | translate }}
    </mat-radio-button>
  </mat-radio-group>
</div>
<form [attr.data-imx-identifier]="'search-form'" [formGroup]="searchForm" class="search-type-option-controls">
  <mat-form-field *ngIf="isEnabledUsername">
    <mat-label>{{ '#LDS#User name' | translate }}</mat-label>
    <input [attr.data-imx-identifier]="'username-input'" formControlName="usernameFormControl" matInput type="text">
  </mat-form-field>

  <mat-form-field *ngIf="isEnabledChangeType">
    <mat-label>{{ '#LDS#Type of operation' | translate }}</mat-label>
    <mat-select [attr.data-imx-identifier]="'change-type-selection'" formControlName="changeTypeFormControl" multiple>
      <mat-option *ngFor="let changeType of changeTypes" [value]="changeType.value"
        [attr.data-imx-identifier]="'search-form-change-type-' + changeType.name">{{changeType.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="isEnabledBackTo">
    <mat-label>{{ '#LDS#From' | translate }}</mat-label>
    <input matInput [matDatepicker]="datepickerBackToDate" formControlName="backToDateFormControl" [attr.data-imx-identifier]="'back-to-date-date-picker'">
    <mat-datepicker-toggle matSuffix [for]="datepickerBackToDate"></mat-datepicker-toggle>
    <mat-datepicker #datepickerBackToDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="isEnabledBackFrom">
    <mat-label>{{ '#LDS#To' | translate }}</mat-label>
    <input matInput [matDatepicker]="datepickerBackFromDate" formControlName="backFromDateFormControl" [attr.data-imx-identifier]="'back-from-date-date-picker'">
    <mat-datepicker-toggle matSuffix [for]="datepickerBackFromDate"></mat-datepicker-toggle>
    <mat-datepicker #datepickerBackFromDate></mat-datepicker>
  </mat-form-field>

  <button [attr.data-imx-identifier]="'search-form-submit-button'" mat-raised-button type="button" color="primary"
    [disabled]="!searchForm.valid" (click)="loadHistoryOperationsData()">{{ '#LDS#Show operations' | translate }}</button>
</form>
<div class="search-result-table-container">
  <table *ngIf="columns" mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef>{{ column.title | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="column.name !== 'ChangeType'">
          {{ column.value(row) }}
        </ng-container>
        <ng-container *ngIf="column.name === 'ChangeType'">
          <ng-container [ngSwitch]="row.ChangeType">
            <eui-badge size="medium" [color]="badgeColor.Insert" *ngSwitchCase="changeTypeEnum.Insert">{{ column.value(row) }}</eui-badge>
            <eui-badge size="medium" [color]="badgeColor.Update" *ngSwitchCase="changeTypeEnum.Update">{{ column.value(row) }}</eui-badge>
            <eui-badge size="medium" [color]="badgeColor.Delete" *ngSwitchCase="changeTypeEnum.Delete">{{ column.value(row) }}</eui-badge>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayChangedPropertyListSidesheet(row)"></tr>
  </table>
  <mat-paginator [pageSize]="paginatorConfigurations.size" [pageSizeOptions]="paginatorConfigurations.sizeOptions" [showFirstLastButtons]="paginatorConfigurations.showFirstLastButtons">
  </mat-paginator>
</div>
