@import '@elemental-ui/core/src/styles/_palette.scss';

.delete-data-dialog {
  margin-bottom: 20px;

  h1 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-top: 5px;
    margin-bottom: 30px;
    color: $black-9;
  }

  .delete-data-alert {
    margin-bottom: 20px;
    display: block;
  }
}
