@import "@elemental-ui/core/src/styles/_palette.scss";

.imx-db-icon {
  padding-top: 45px;
}

.mat-button {
  color: $iris-blue;
  font-weight: 600;
}

eui-icon {
  text-align: center;
}

.eui-icon {
  vertical-align: bottom;
}

.mat-card {
  padding: 0;
  margin: 5px;
}

.imx-system-status {
  display: flex;
  flex-wrap: wrap;
}
