/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$material_icons_font_path: "~node_modules/@elemental-ui/core/assets/MaterialIcons";
$cadence_font_path: "~node_modules/@elemental-ui/core/assets/Cadence";
$source_sans_pro_font_path: "~node_modules/@elemental-ui/core/assets/Source_Sans_Pro";

@import '@elemental-ui/core/src/styles/core.scss';

.imx-dialog-panel-class > .mat-dialog-container {
    background-color: mat.get-color-from-palette($asher-gray-palette, 200);
}
