@import '@elemental-ui/core/src/styles/_palette.scss';

:host {
  overflow: auto;

  h2 {
    font-size: 36px;
    margin: 0;
    padding: 20px;
  }

  small {
    font-size: 10px;
    position: relative;
    top: -5px;
    display: inline-block;
    margin: 0px;
    padding: 2px 4px;
    vertical-align: super;
    border-radius: 57px;
    color: $white;
    background: $black-6;
  }

  /* Fixes to hide clutter */
  ::ng-deep .information-container,
  ::ng-deep .scheme-container {
    display: none;
  }
}
