<h1 class="mat-headline">{{ '#LDS#Heading System Entitlements' | translate }}</h1>
<imx-data-source-toolbar #dst [options]="['search', 'filter']" [settings]="dstSettings"
  (search)=" onSearch($event)" (navigationStateChanged)="getData($event)"
  data-imx-identifier="unsgroups-history-dst">
</imx-data-source-toolbar>
<imx-data-table [dst]="dst" [detailViewVisible]="false" mode="manual" data-imx-identifier="unsgroups-datatable">
  <imx-data-table-column [entityColumn]="entitySchema?.Columns[DisplayColumns.DISPLAY_LONG_PROPERTYNAME]">
    <ng-template let-item>
      <div data-imx-identifier="unsgroups-datatable-display">{{ item.GetEntity().GetDisplayLong() }}</div>
      <div subtitle data-imx-identifier="unsgroups-datatable-description">{{ item.Description.Column.GetDisplayValue() }}</div>
    </ng-template>
  </imx-data-table-column>
  <imx-data-table-column [entityColumn]="entitySchema?.Columns.Requestable">
  </imx-data-table-column>
  <imx-data-table-generic-column columnName="edit">
    <ng-template let-item>
      <button mat-button color="primary" (click)="editUnsgroup(item)"
        data-imx-identifier="unsgroups-table-row-button-edit">
        {{ '#LDS#Edit' | translate }}
      </button>
    </ng-template>
  </imx-data-table-generic-column>
</imx-data-table>
<imx-data-source-paginator data-imx-identifier="unsgroups-paginator" [dst]="dst"></imx-data-source-paginator>
