<div class="imx-content-header">
  <h2 class="mat-headline">
    {{ '#LDS#Heading Database Log' | translate }}
  </h2>
</div>
<div class="imx-table-container">
  <imx-data-source-toolbar
    [alwaysVisible]="true"
    #dst
    [settings]="dstSettings"
    (search)="onSearch($event)"
    [options]="['search', 'filter', 'groupBy', 'settings']"
    (navigationStateChanged)="getData($event)"
  >
    <imx-data-source-toolbar-custom [customContentTemplate]="customToolbarTemplate"></imx-data-source-toolbar-custom>
  </imx-data-source-toolbar>
  <imx-data-table [dst]="dst" detailViewVisible="false" mode="manual">
    <imx-data-table-column [entityColumn]="entitySchemaJournal?.Columns.MessageDate"> </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaJournal?.Columns.ApplicationName"> </imx-data-table-column>
    <imx-data-table-column [width]="'16px'" columnLabel="" [entityColumn]="entitySchemaJournal?.Columns.MessageType">
      <ng-template let-data>
        <div class="imx-icon-column" *ngIf="['W', 'E'].includes(data.MessageType.value)" [ngSwitch]="data.MessageType.value">
          <eui-icon class="imx-warning-icon" *ngSwitchCase="'W'" icon="warning" size="18px" matTooltip="{{ '#LDS#Warning' | translate }}"> </eui-icon>
          <eui-icon class="imx-error-icon" *ngSwitchCase="'E'" icon="error" size="18px" matTooltip="{{ '#LDS#Error' | translate }}"></eui-icon>
        </div>
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaJournal?.Columns.MessageString"> </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaJournal?.Columns.HostName" [columnLabel]="'#LDS#Host and system user' | translate">
      <ng-template let-data>
        <div>{{ data.HostName.Column.GetDisplayValue() }}</div>
        <div subtitle>{{ data.LogonUser.Column.GetDisplayValue() }}</div>
      </ng-template>
    </imx-data-table-column>
  </imx-data-table>
  <imx-data-source-paginator [dst]="dst"></imx-data-source-paginator>
</div>

<ng-template #customToolbarTemplate>
  <button mat-stroked-button color="primary" class="imx-refresh-button" (click)="refresh()">
    <eui-icon icon="sync"></eui-icon>
    <span>{{ '#LDS#Refresh' | translate }}</span>
  </button>
</ng-template>
