<div class="attestation-schedule-sidesheet">
  <mat-tab-group>
    <mat-tab [label]="'#LDS#Heading Details' | translate">
      <div class="attestation-schedule-sidesheet__tab-content">
        <div class="attestation-schedule-sidesheet__tab-content-body">
          <eui-alert *ngIf="showHelperAlert" class="helper-alert" type="info" condensed="true" [colored]="true"
            [dismissable]="true" (dismissed)="onHelperDismissed($event)">
            <span translate>
              #LDS#Here you can specify the time zone, start time, and frequency for the selected attestation schedule.
            </span>
          </eui-alert>
          <mat-card>
            <form [formGroup]="detailsFormGroup">
              <imx-cdr-editor *ngFor="let cdr of cdrList" [cdr]="cdr" (controlCreated)="formArray.push($event)">
              </imx-cdr-editor>

              <div class="frequency-type-wrapper"
                *ngIf="data?.FrequencyType?.value === 'Month' || data?.FrequencyType?.value === 'Week' || data?.FrequencyType?.value === 'Year'">
                <span class="helper-text" *ngIf="data?.FrequencyType?.value === 'Month'" translate>
                  #LDS#Select the day of the month when the schedule should be run again.
                </span>
                <span class="helper-text" *ngIf="data?.FrequencyType?.value === 'Week'" translate>
                  #LDS#Select the day of the week when the schedule should be run again.
                </span>
                <span class="helper-text" *ngIf="data?.FrequencyType?.value === 'Year'" translate>
                  #LDS#Select the date when the schedule should be run again.
                </span>
                <eui-select class="month-week-select"
                  *ngIf="data?.FrequencyType?.value === 'Month' || data?.FrequencyType?.value === 'Week'"
                  [options]="frequencySelectOptions" [hideClearButton]="true" [inputControl]="frequencySubTypeControl"
                  (selectionChange)="frequencySelected($event)"
                  data-imx-identifier="attestation-schedule-sidesheet-month-week-select">
                </eui-select>
                <eui-date-picker *ngIf="data?.FrequencyType?.value === 'Year'" [dateControl]="freqDayOfYear"
                  [allowTextInput]="false" data-imx-identifier="attestation-schedule-sidesheet-year-select">
                </eui-date-picker>
              </div>
              <div>
                <div class="imx-start-time-panel">
                  <mat-label class="imx-title-label">{{'#LDS#Start time' | translate}}</mat-label>
                  <eui-icon *ngIf="showInfoIcon" [matTooltip]="'#LDS#The start time will be calculated automatically.' | translate" icon="help" size="small"></eui-icon>
                </div>
                <eui-time-picker #timePicker [timeControl]="startTimeControl" (valueChange)="timeChanged($event)"
                  size="s" [allowTextInput]="false" data-imx-identifier="attestation-schedule-sidesheet-timepicker">
                </eui-time-picker>
              </div>
            </form>
          </mat-card>
        </div>
        <mat-card class="attestation-schedule-sidesheet__action-buttons">
          <button mat-button (click)="cancel()" data-imx-identifier="attestation-schedule-sidesheet-cancel">
            <span translate>#LDS#Cancel</span>
          </button>
          <button mat-flat-button color="primary" [disabled]="detailsFormGroup.pristine || detailsFormGroup.invalid"
            (click)="saveSchedule()" data-imx-identifier="attestation-schedule-sidesheet-save">
            <span translate>#LDS#Save</span>
          </button>
        </mat-card>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>