@import "@elemental-ui/core/src/styles/_palette.scss";
@import "../../../shared/assets/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.sub-headline {
  font-style: italic;
  font-weight: lighter;
  margin-top: -2em;
  margin-bottom: .5em;

  @media #{$IMX_Mediaquery_Smartphone} {
    margin-top: -0.5em;
  }
  @media #{$IMX_Mediaquery_SmallDesktops} {
    margin-top: -0.5em;
  }
}

:host ::ng-deep .mat-tab-body {
  margin: 30px 0px;

  .mat-tab-body-content {
    display: flex;
    flex-direction: column;
  }
}

.imx-job-queue-div {
  border-bottom: 1px solid $black-3;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.imx-object-overview-tab-text {
  font-size: medium;
}

.imx-ops-ElementStyle {
  margin: 10px 0;
  font-size: medium;
}

.imx-object-overview-tab-text {
  font-size: medium;
}

:host ::ng-deep .mat-tab-body-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
}

:host ::ng-deep .mat-tab-body {
  margin: 30px 0px 0px 0px;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  overflow-x: auto;
}

.imx-table-container {
  margin-right: 30px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imx-refresh-button {
  margin-right: 5px;
  height: 50px;
}