@import "~@elemental-ui/core/src/styles/_palette.scss";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

:host ::ng-deep .mat-tab-body {
  margin: 30px 0px;
}

.imx-job-queue-div {
  border-bottom: 1px solid $black-3;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.imx-object-overview-tab-header {
  font-weight: 600;
  font-size: large;
}

.imx-object-overview-tab-text {
  font-size: medium;
}

.imx-ops-ElementStyle {
  margin: 10px 0;
  font-size: medium;
}

.imx-object-overview-tab-text {
  font-size: medium;
}

:host ::ng-deep .mat-tab-body-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
}

:host ::ng-deep .mat-tab-body {
  margin: 30px 0px 0px 0px;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  overflow-x: auto;
}

.imx-table-container {
  margin-right: 30px;
  margin-top: -30px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imx-refresh-button {
  margin-right: 5px;
  height: 50px;
}


.heading-wrapper {
  display: flex;

  > :first-child {
    flex: 1 1 auto;
  }

  .mat-card {
    width: 50%;
    align-self: flex-end;
  }
  
  .mat-card-title {
    font-size: medium;
    font-weight: 600;
    padding: 10px 10px 0 10px;
  }
  
  .mat-card-content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding: 10px;
    font-size: medium;

    > .imx-caption {
      font-weight: 600;
    }
  }
}


