<div eui-sidesheet-content>
  <div class="imx-heading-wrapper" *ngIf="dstSettings">
    <h3>{{ role?.displayLong }}</h3>

    <eui-alert *ngIf="showHelperAlert" class="imx-helper-alert" type="info" [condensed]="true" [colored]="true"
      [dismissable]="true" (dismissed)="onHelperDismissed()">
      <span>
        {{ role?.description }}
      </span>
    </eui-alert>
  </div>
  <mat-card class="imx-content-card" *ngIf="dstSettings">
    <imx-data-source-toolbar #dst [settings]="dstSettings"
      [options]="['search', 'filter']"
      (navigationStateChanged)="getData($event)"
      [itemStatus]="status" (search)="search($event)">
    </imx-data-source-toolbar>
    <imx-data-table class="no-row-selection" [dst]="dst" [detailViewVisible]="false" [selectable]="true"
      [showSelectedItemsMenu]="false" (selectionChanged)="selectionChanged($event)"></imx-data-table>
    <imx-data-source-paginator *ngIf="!dstSettings.groupData?.currentGrouping" [dst]="dst"></imx-data-source-paginator>

  </mat-card>
</div>

<div eui-sidesheet-actions color="white">
  <p class="imx-selected-items">
    <span>
      {{ '#LDS#Selected items' | translate }}
    </span>
    <eui-badge data-imx-identifier="admin-members-selection-badge" class="imx-badge" color="orange">
      {{selectedMembers?.length > 0 ? selectedMembers?.length : 0}}
    </eui-badge>
  </p>
  <div class="imx-menu-spacer"></div>
  <button class="justify-start" mat-button color="warn" data-imx-identifier="admin-members-delete-button"
    (click)="delete()" [disabled]="!userIsMember || !selectedMembers?.length">
    {{ '#LDS#Remove' | translate }}
  </button>
  <button data-imx-identifier="admin-members-add-button" mat-raised-button color="primary" (click)="add()"
    [disabled]="!userIsMember">
    {{ '#LDS#Add members' | translate }}
  </button>
</div>
