<div class="appCards">
  <div *ngIf="loaded">
    <div>
      <mat-card *ngFor="let appContainer of apps">
        <mat-card-content>
          <mat-card-title>
            <a href="{{ appContainer.link }}">
              {{ appContainer.app.DisplayName }}
            </a>
          </mat-card-title>
          <p *ngIf="appContainer.app.Description">{{ appContainer.app.Description }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card role="Administration" *ngIf="hasServerAdministrationApp">
        <mat-card-content>
          <mat-card-title>
            <a routerLink="login">
              {{ '#LDS#Heading Administration Portal' | translate }}
            </a>
          </mat-card-title>
          <p>{{ '#LDS#Here you can configure your HTML applications. Additionaly, you can reset your changes to default settings.' | translate }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
