@import 'variables';
@import '@elemental-ui/core/src/styles/_eui_palette.scss';

/* Elemental UI */
.imx-eui-icon {
  margin: 10px;
}

/* Elemental UI END */

/* #region VI_Styles_RendererSettings_Default (FontFamily) */
@font-face {
  font-family: 'fa-identity';
  src: url('fonts/fa-identity.ttf');
  font-weight: normal;
  font-style: normal;
}
/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (Icons) */
.imx-icon {
  background-position: 0 center;
  display: inline-block;
  min-height: 18px;
  background-repeat: no-repeat;
  padding-left: 20px;
}
/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (Flex styles) */
/* not a smartphone and not a tablet... */
@media not #{$IMX_Mediaquery_Smartphone} {
  .imx-flex {
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }

  .imx-flex-child {
    flex: 1 1 auto;
    overflow: auto;
  }
}

/* This rule is a workaround for Safari bug Viper146020 */
.imx-flex > * {
  flex-shrink: 0;
  flex-basis: auto;
}


.imx-flex-child {
  flex: 1 1 auto;
  overflow: auto;
}

.k-ie10 .imx-flex-child {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
}

/*#endregion*/

/* #region VI_Styles_Button_Default (CSS) */
.imx-button {
  color: $white;
  background-color: $iris-blue;
}

.imx-button:hover {
  background-color: $VI_Common_Color_Button_Default_Hover;
  text-decoration: none;
}

.imx-button:focus {
  background-color: $VI_Common_Color_Button_Default_Hover;
  text-decoration: none;
  outline: 1px $VI_Common_Color_Button_Outline dotted;
  outline-offset: 1px;
}

.imx-button:Disabled {
  color: $VI_Common_Color_Button_Font_Disabled;
  // background-color: mat-color($asher-gray-palette, 900);
  cursor: not-allowed;
}

/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (Icon font) */
/* CUI Icon Font */

/* TODO replace cux-icon (TFS 806274)*/
.cux-icon {
  font-family: fa-identity;
  font-style: normal;
  text-align: center;
  width: 1em;
}

.cux-icon,
.cux-pane__collapse-icon,
[data-icon]::before {
  font-family: "fa-identity" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.cux-icon--caret-down:before {
  content: "\f0d7";
}

.cux-icon--caret-right:before {
  content: "\f0da";
}

.cux-icon--shopping-cart:before {
  content: "\f07a";
}

.cux-icon--chain-broken:before {
  content: "\f127";
}

.cux-icon--tasks:before {
  content: "\f0ae";
}

.cux-icon--table:before {
  content: "\f0ce";
}
/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (ReportStyles) */
/* layout definition for reportviewer */
.stidatepicker {
  display: none;
}

.ReportViewer table {
  table-layout: auto;
}

.ReportViewer {
  height: 100% !important;
}
/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (AccessKeys) */
/* display keyboard access keys */

/* Display [] by the item with the accesskey */
a[accesskey]:after,
button[accesskey]:after,
input[accesskey]:after,
label[accesskey]:after,
legend[accesskey]:after,
textarea[accesskey]:after {
  padding-left: .3em;
  display: inline;
  content: "[" attr(accesskey) "]";
  color: $white;
}
/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (Timeline styles) */

div.timeline-frame {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

div.timeline-content {
  overflow: hidden;
  position: relative;
}

div.timeline-axis {
  border-color: $VI_Common_Color_Gray;
  border-top-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

div.timeline-axis-grid {
  border-left-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

div.timeline-axis-grid-major,
div.timeline-axis-grid-minor {
  border-color: $black-c;
}

div.timeline-axis-text {
  color: $VI_Common_Color_Font;
  padding: 3px;
  white-space: nowrap;
  font-size: 14px;
}

div.timeline-event {
  background-color: $black-6;
  border-color: $black-6;
  box-sizing: border-box;
  color: $white;
  display: inline-block;
  font-size: 14px;
}

div.timeline-event-selected {
  background-color: $VI_Common_Color_Blue_1;
  border-color: $black-6;
  color: $VI_Common_Color_Font;
  z-index: 999;
}

div.timeline-event-dot {
  border-color: $iris-blue;
  background-color: $iris-blue;
}

div.timeline-event-cluster {
  background: $VI_Common_Color_Blue_1;
  color: $VI_Common_Color_Font;
}

div.timeline-event-cluster div.timeline-event-dot {
  border-color: $VI_Common_Color_Blue_1;
}

div.timeline-event-box {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

div.timeline-event-dot {
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
}

div.timeline-event-range {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
}

div.timeline-event-range-drag-left {
  cursor: w-resize;
  z-index: 1000;
}

div.timeline-event-range-drag-right {
  cursor: e-resize;
  z-index: 1000;
}

div.timeline-event-line {
  border-left-style: solid;
  border-left-width: 1px;
  box-sizing: border-box;
}

div.timeline-event-content {
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

div.timeline-groups-axis {
  border-color: $VI_Common_Color_Gray;
  border-width: 1px;
  box-sizing: border-box;
}

div.timeline-groups-axis-onleft {
  border-style: none solid none none;
}

div.timeline-groups-axis-onright {
  border-style: none none none solid;
}

div.timeline-groups-text {
  color: $VI_Common_Color_Font_Secondary;
  padding-left: 10px;
  padding-right: 10px;
}

div.timeline-currenttime {
  background-color: $QBM_Primary_Orange;
  box-sizing: border-box;
  width: 2px;
}

div.timeline-customtime {
  background-color: $iris-blue;
  box-sizing: border-box;
  cursor: move;
  width: 2px;
}

div.timeline-navigation-delete,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right,
div.timeline-navigation-new,
div.timeline-navigation-zoom-in,
div.timeline-navigation-zoom-out {
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: 36px;
  padding: 10px;
  text-decoration: none;
  width: 36px;
}

div.timeline-navigation-new {
  background: no-repeat center;
}

/* separator between new and navigation buttons */
div.timeline-navigation-new-line {
  border-right: 1px solid $VI_Common_Color_Gray;
}

div.imx-timeline-event-objectcreate,
div.imx-timeline-event-propertychange {
  border-color: $iris-blue;
  background-color: $VI_Common_Color_Blue_1;
}

div.imx-timeline-event-addaccount,
div.imx-timeline-event-addmembership,
div.imx-timeline-event-addpermission,
div.imx-timeline-event-addresponsibility,
div.imx-timeline-event-removenoncompliance {
  border-color: $aspen-green;
  /* TODO use color variable */
  background-color: lightgreen;
}

div.imx-timeline-event-addnoncompliance,
div.imx-timeline-event-removeaccount,
div.imx-timeline-event-removemembership,
div.imx-timeline-event-removepermission,
div.imx-timeline-event-removeresponsibility {
  border-color: $phoenix-red;
  background-color: $QBM_Primary_Orange;
}

.imx-timeline-detail-header {
  font-weight: bold;
  margin-bottom: 1em;
}

/*#endregion*/

/* #region VI_Styles_RendererSettings_Default (Phone and Tablet Styles) */
/* default state */
.state-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
}

.state-indicator:before {
  content: 'desktop';
}

/* small desktop */
@media all and (max-width: 1200px) {
  .state-indicator:before {
    content: 'small-desktop';
  }
}

/* tablet */
@media all and (max-width: 1024px) {
  .state-indicator:before {
    content: 'tablet';
  }
}

/* mobile phone */
@media #{$IMX_Mediaquery_Smartphone} {
  .state-indicator:before {
    content: 'mobile';
  }
}
/*#endregion*/



/* #region VI_Styles_RendererSettings_Mobile (Performance improvements) */
* {
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/*#endregion*/

/* #region QBM-Page styles (CSS) */

body {
  background-color: $Imx_White-two
}

/*#endregion*/

/* #region Angular Material Komponenten*/

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: $iris-blue;
}

input:focus,
textarea:focus {
  outline: none;
}

.simpleText {
  color: $VI_Common_Color_Font;
}

.mat-icon-button.imx-searchbar-tablecellsmall {
  flex: 0 0 40px;
  width: 32px;

  &:hover {
    text-decoration: none;
  }
}
/*#endregion*/

.mat-paginator,
.mat-table {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: $baseFontFamily;
}

.imx-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $VI_Common_Color_Font;
}

.imx-subtitle {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: $VI_Common_Color_Gray;
}

.imx_processTitle {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: $VI_Common_Color_Gray;
}

.imx-normalCell {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: $VI_Common_Color_Gray;
}

/* #region overrides Angular Material styles*/

/* z-index of overlays have to been larger than of modal dialogs
.cdk-overlay-container {
  z-index: 1051;
}

/*#endregion*/

.imx-messageDialog {
  margin: auto auto;
  max-width: $PopupWidthLarge + px;
  min-width: 550px;
  font-size: 14px;
  top: 100px;
  position: absolute !important;
}

/* #region Elemental UI fixes */

.mat-form-field-infix .mat-select-trigger {
  vertical-align: baseline;

  .mat-select-arrow-wrapper {
    vertical-align: middle;
  }
}

button {
  letter-spacing: normal;
}

.mat-card-title {
  margin-bottom: 16px;
}
/*#endregion*/

/* #region Fix for the bug with mat-hint of Angular Material */
.imx-form .mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
  .mat-form-field-underline {
    position: initial;
    display: block;
    margin-top: -1px;
  }
  .mat-form-field-subscript-wrapper,
  .mat-form-field-ripple {
    position: relative;
    display: inline-flex;

    .mat-form-field-hint-wrapper {
      flex-wrap: wrap;
    }
  }
  .mat-form-field-subscript-wrapper {
    min-height: calc(1em + 1px);
  }
}
/* #endregion */

/* #region mat-paginator styling */
.mat-paginator-navigation-next.mat-icon-button,
.mat-paginator-navigation-previous.mat-icon-button {
  background: transparent;
  width: 16px;
  margin-right: 10px;
}
/* #endregion */

/* bugfix for the mat-error overlapping error
for more information see:
https://github.com/angular/components/issues/4580#issuecomment-510290576
*/
mat-form-field {
  &.ng-valid {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
    }
  }

  &.ng-invalid,
  &.mat-form-field-invalid {
    .mat-form-field-wrapper {
      padding-bottom: 7px;
    }
  }

  &.ng-untouched {
    .mat-form-field-wrapper {
      padding-bottom: 1.25em;
    }
  }

  .mat-form-field {
    &-underline {
      position: static;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}

/* remove the max-width of the menu-panel #304731*/
.cdk-overlay-pane .mat-menu-panel {
    max-width: initial;
}

.eui-dark-theme {
    .imx-title {
      color: $color-gray-5;
    }

    .simpleText {
      color: $color-gray-5;
    }
}

.eui-contrast-theme {
  .imx-title {
    color: $color-gray-0;
  }

  .simpleText {
    color: $color-gray-0;
  }
}

// Fix tooltip flash bug on delayed tooltips: https://github.com/angular/components/issues/24614
.mat-tooltip-hide { display: none!important; }

