@import '@elemental-ui/core/src/styles/_palette.scss';
@import 'ccc_variables';

$baseFontFamily: "Source Sans Pro", "Trebuchet MS", sans-serif !default;
$IMX_Mediaquery_Smartphone: "all and (max-width: 760px)" !default;
$IMX_Mediaquery_SmallDesktops: "all and (min-width: 761px) and (max-width: 1024px)" !default;
$PopupWidthLarge: 750 !default;
$propcellminheight: 1.6em !default;
$propertylabelwidth: 220px !default;
$propertywidth: 615 !default;
$QBM_Primary_Black: #162c36 !default;
$QBM_Primary_Orange: #FF9C00 !default;
$VI_Common_Color_Blue_1: #69CCE9 !default;
$VI_Common_Color_Blue_3: #03556D !default;
$VI_Common_Color_Button_Danger_Hover: #d82a30 !default;
$VI_Common_Color_Button_Default_Hover: #0582a7 !default;
$VI_Common_Color_Button_Font_Disabled: #b7b7b7 !default;
$VI_Common_Color_Button_Outline: #6a6a6a !default;
$VI_Common_Color_Button_Success_Hover: #77af4c !default;
$VI_Common_Color_Font: #2f2f2f !default;
$VI_Common_Color_Font_Secondary: #282828 !default;
$VI_Common_Color_Gray: #6A6A6A !default;
$VI_Common_Color_LightGray: #B7B7B7 !default;
$Imx_White-two: #e9e9e9 !default;
$Imx_Ellipse_Gray: rgba(204, 204, 204, 0.5) !default;
$Imx_Checkbox: rgb(130, 213, 237) !default;
$ImxLoginControlsMargin: 0.7em !default;

/*To Do*/
$link: test;
$permanentlink: test;
