@import '~@elemental-ui/core/src/styles/_palette.scss';

$baseFontFamily: "Source Sans Pro", "Trebuchet MS", sans-serif;
$basefontsize: 0.75rem;
$baseLineHeight: 18px;
$headerheight: 43;
$HeaderUserNavigationHeight: 77;
$IMX_Mediaquery_Smartphone: "all and (max-width: 760px)";
$IMX_Mediaquery_SmallDesktops: "all and (min-width: 761px) and (max-width: 1024px)";
$MobileNaviWidth: 0;
$MobilePanelWidth: 27;
$naviwidth: 0;
$PopupWidthLarge: 750;
$propcellminheight: 1.6em;
$propertyeditortextboxwidth: 370;
$propertyeditorwidth: 380;
$propertylabelwidth: 220px;
$propertywidth: 615;
$IssueCardWidth: 350px;
$IssueCardHeight: 156px;
$IssueContentHeight: 60px;
$FilterCardWidth: 295px;
$FilterCardHeight: 100px;
$NotificationCardWidth: 726px;
$NotificationCardHeight: 50px;
$QBM_Page_LeftMargin: 31px;
$QBM_Primary_Black: #162c36;
$QBM_Primary_Blue: #05AADB;
$QBM_Primary_Gray: #E8E8E8;
$QBM_Primary_Green: #618F3E;
$QBM_Primary_Orange: #FF9C00;
$QBM_Primary_Red: #B42126;
$QBM_Primary_Violet: #802981;
$QBM_Primary_White: #FFFFFF;
$QBM_Primary_Yellow: #F0DF3F;
$UserNavigationHeight: 34;
$VI_Common_Color_Badge_Important: #B42126;
$VI_Common_Color_Badge_Info: #05AADB;
$VI_Common_Color_Blue_1: #69CCE9;
$VI_Common_Color_Blue_2: #05AADB;
$VI_Common_Color_Blue_3: #03556D;
$VI_Common_Color_BorderSignaled: #B42126;
$VI_Common_Color_Button_Danger: #b42126;
$VI_Common_Color_Button_Danger_Hover: #d82a30;
$VI_Common_Color_Button_Default: #05aadb;
$VI_Common_Color_Button_Default_Hover: #0582a7;
$VI_Common_Color_Button_Disabled: #e8e8e8;
$VI_Common_Color_Button_Font: #ffffff;
$VI_Common_Color_Button_Font_Disabled: #b7b7b7;
$VI_Common_Color_Button_Font_Link: #05aadb;
$VI_Common_Color_Button_Font_Link_Hover: #0388b0;
$VI_Common_Color_Button_Font_Secondary: #2f2f2f;
$VI_Common_Color_Button_Font_Warning_Hover: #2d1e1e;
$VI_Common_Color_Button_Outline: #6a6a6a;
$VI_Common_Color_Button_Primary: #05aadb;
$VI_Common_Color_Button_Primary_Hover: #11c4fa;
$VI_Common_Color_Button_Success: #618f3e;
$VI_Common_Color_Button_Success_Hover: #77af4c;
$VI_Common_Color_Button_Warning: #f0df3f;
$VI_Common_Color_Button_Warning_Hover: #f2e45c;
$VI_Common_Color_ColorBase1: #FFFFFF;
$VI_Common_Color_ColorBase2: #000000;
$VI_Common_Color_ColorBase3: #05AADB;
$VI_Common_Color_ColoredLink: #05AADB;
$VI_Common_Color_ColoredLink_Secondary: #FFFFFF;
$VI_Common_Color_DarkerGray: #2F2F2F;
$VI_Common_Color_Font: #2f2f2f;
$VI_Common_Color_Font_Secondary: #282828;
$VI_Common_Color_Font_Secondary2: #FFFFFF;
$VI_Common_Color_Gray: #6A6A6A;
$VI_Common_Color_LighterGray: #E8E8E8;
$VI_Common_Color_LightGray: #B7B7B7;
$VI_Common_Color_MastHead: #05AADB;
$VI_Common_Color_SignaledOrMandatory: #B42126;
$VI_Common_Color_SignaledOrMandatoryBorder: #B42126;
$VI_Dashboard_DefaultTrafficLightWidth: 260;
$ImxEventBackgroundSize: 2px 1000px;
$Imx_Faint_Gray:#e8e8e8;
$Imx_Light_Text_Color:#7f7f7f;
$Imx_Darker_Text_Color: #666666;
$Imx_Title_Color: #333333;
$Imx_Light_Gray: #f2f2f2;
$Imx_White-two: #e9e9e9;
$Imx_Warning_Orange: #f4770b;
$Imx_Ellipse_Gray: rgba(204, 204, 204, 0.5);
$Imx_Checkbox: rgb(130, 213, 237);
$Imx_Checkbox_Ripple: rgba(130, 213, 237, 0.5);
$Imx_DarkBlue: #02556d;
$Imx_Timeline_Event_Background_Color: #666666;
$IMx_Timeline_Axis_Color: #CCCCCC;
$ImxLoginControlsMargin: 0.7em;
$Imx_Hyperview_Shape_Highlight_Color: #D3D3D3;
$Imx_Hyperview_Shape_Width: 360;
$Imx_Hyperview_Property_Label_Width: 150;
$Imx_MatCard_Avatar_Checked_Color: #5ac9f5;

/*To Do*/
$link: test;
$permanentlink: test;
$VI_Common_Color_Button_Link_Hover: #FFFFFF;
