@import '@elemental-ui/core/src/styles/_palette.scss';

$baseFontFamily: "Source Sans Pro", "Trebuchet MS", sans-serif;
$IMX_Mediaquery_Smartphone: "all and (max-width: 760px)";
$IMX_Mediaquery_SmallDesktops: "all and (min-width: 761px) and (max-width: 1024px)";
$PopupWidthLarge: 750;
$propcellminheight: 1.6em;
$propertylabelwidth: 220px;
$QBM_Primary_Black: #162c36;
$QBM_Primary_Orange: #FF9C00;
$VI_Common_Color_Blue_1: #69CCE9;
$VI_Common_Color_Blue_3: #03556D;
$VI_Common_Color_Button_Danger_Hover: #d82a30;
$VI_Common_Color_Button_Default_Hover: #0582a7;
$VI_Common_Color_Button_Font_Disabled: #b7b7b7;
$VI_Common_Color_Button_Outline: #6a6a6a;
$VI_Common_Color_Button_Success_Hover: #77af4c;
$VI_Common_Color_Font: #2f2f2f;
$VI_Common_Color_Font_Secondary: #282828;
$VI_Common_Color_Gray: #6A6A6A;
$VI_Common_Color_LightGray: #B7B7B7;
$Imx_White-two: #e9e9e9;
$Imx_Ellipse_Gray: rgba(204, 204, 204, 0.5);
$Imx_Checkbox: rgb(130, 213, 237);
$ImxLoginControlsMargin: 0.7em;

/*To Do*/
$link: test;
$permanentlink: test;
