@import 'base/mixins';

.imx-text-container {
  overflow: auto;
  white-space: pre-line;
  margin-bottom: 10px;
}

.mat-mdc-card {
  @include flex-column-container($max-height: 100%);
  flex: 1 1 auto;

  .mat-mdc-card-content {
    overflow: auto;
  }
}
