/* You can add global styles to this file, and also import other style files */

@import '@elemental-ui/core/src/styles/core.scss';
@import 'components/toolbar';

.eui-dark-theme {
  .page {
    color: $color-gray-5;
    background-color: $color-gray-80;
  }
  .pageContent {
    color: $color-gray-5;
    background-color: $color-gray-80;
  }
}

.eui-contrast-theme {
  .page {
    color: $color-gray-0;
    background-color: $color-gray-100;
  }
  .pageContent {
    color: $color-gray-0;
    background-color: $color-gray-100;
  }
}
