<h1 class="mat-headline">
  {{ '#LDS#Processes' | translate }}
</h1>
<mat-slide-toggle [ngStyle]="{ 'padding-bottom': '4vh' }" color="primary" [(ngModel)]="isShowGraph" data-imx-identifier="jobs-toggle-showGraph">
  {{ '#LDS#Toggle Table/Graph View' | translate }}
</mat-slide-toggle>
<div [style.display]="isShowGraph ? 'none' : 'block'">
  <div [hidden]="numberOfJobs === 0 && selectedFilter === ''" class="imx-filter-line">
    <imx-filter-tile
      *ngFor="let filter of filters"
      (checkedChanged)="handleCheckClick($event)"
      [isChecked]="selectedFilter === filter.value"
      [caption]="filter.caption"
      [value]="filter.value"
      [groupName]="filter.groupname"
      class="imx-filter-item"
    >
    </imx-filter-tile>
  </div>
  <imx-jobs-gridview class="imx-job-grid" [filterSetting]="parameterForGrid" (refreshRequested)="refresh()"> </imx-jobs-gridview>
  <!-- Hack to prevent billboard legend from appearing squished with display:block, push it always out of view -->
  <div [ngStyle]="{ visibility: 'hidden', height: '100vh' }"></div>
</div>
<imx-jobqueue-overview></imx-jobqueue-overview>
