:host {
  display: contents;
  max-height: 100%;
  flex: 1 1 auto;
  
  ::ng-deep .imx-table-container .imx-data-table-no-results {
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }
}

.imx-heading-wrapper {
  display: flex;

  .imx-helper-alert {
    display: flex;
    margin: 0 0 20px auto;
    align-self: flex-end;
    width: 70%;
  }
}
.jobs-toggle-showGraph {
  margin-bottom: 10px;
}

.imx-filter-title {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 10px;
}

.imx-job-grid {
  display: flex;
  flex-direction: column;
}


imx-jobqueue-overview {
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.imx-job-line {
  display: flex;
  flex-direction: row;
}