<h2 class="mat-headline">
  {{ '#LDS#Heading Process Steps per Process' | translate }}
</h2>
<div class="imx-table-container">
  <imx-data-source-toolbar [alwaysVisible]="true" #dst [settings]="dstSettings" [options]="['filter', 'groupBy']">
    <imx-data-source-toolbar-custom [customContentTemplate]="customToolbarTemplate"></imx-data-source-toolbar-custom>
  </imx-data-source-toolbar>
  <imx-data-table [dst]="dst" detailViewVisible="false" mode="manual">
    <imx-data-table-column [entityColumn]="entitySchemaJobChains?.Columns.JobChainName">
      <ng-template let-data>
        {{ data.JobChainName.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchemaJobChains?.Columns.Count" [align]="'center'" [columnLabel]="'#LDS#Process steps' | translate">
      <ng-template let-data>
        {{ data.Count.Column.GetDisplayValue() }}
      </ng-template>
    </imx-data-table-column>
  </imx-data-table>
</div>

<ng-template #customToolbarTemplate>
  <button mat-stroked-button color="primary" class="imx-refresh-button" (click)="refresh()">
    <eui-icon icon="sync"></eui-icon>
    <span>{{ '#LDS#Refresh' | translate }}</span>
  </button>
</ng-template>
