:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.imx-table-container {
  flex: 1 1 auto;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;

  > :nth-child(2) {
    flex: 1 1 auto;
  }
}

.imx-refresh-button {
  margin-right: 5px;
  height: 50px;
}

.imx-button-column{
  display: flex;
  flex-direction: row;
}

