/* Elemental UI */
eui-date-picker {
  .mat-mdc-form-field {
    .mat-mdc-form-field-wrapper {
      padding: 0;

      .mat-mdc-form-field-subscript-wrapper {
        margin: 0;
      }

      .mat-mdc-form-field-flex {
        padding: 0 0 0 10px;

        .mat-mdc-form-field-infix {
          padding: 5px 0 5px 0;
        }
      }
    }
  }
}

/* Angular Material */

/* Imx */

/* Dark theme */

/* High-contrast theme */
