/* Elemental UI */

/* Angular Material */

/* Imx */

.imx-scroll-pad > .eui-scroll-container {
  padding-right: 5px;
}

.imx-scroll-pad-left > .eui-scroll-container {
  padding-left: 5px;
  padding-right: 10px;
}
