<h2 class="mat-headline">
  {{ '#LDS#Heading Process History' | translate }}
</h2>
<div class="imx-table-container">
  <imx-data-source-toolbar
    [alwaysVisible]="true"
    #dst
    [settings]="dstSettings"
    (search)="onSearch($event)"
    [options]="['search', 'filter', 'groupBy']"
    (navigationStateChanged)="getData($event)"
  >
  </imx-data-source-toolbar>
  <imx-data-table [dst]="dst" detailViewVisible="false" mode="manual" (highlightedEntityChanged)="viewDetails($event)">
    <imx-data-table-column [entityColumn]="entitySchema?.Columns[DisplayColumns.DISPLAY_PROPERTYNAME]"> </imx-data-table-column>
    <imx-data-table-generic-column columnName="icon" columnLabel="">
      <ng-template let-data>
        <div class="imx-icon-container" *ngIf="data.WasError?.value">
          <eui-icon icon="bug" class="imx-bug-icon"></eui-icon>
          <span translate>#LDS#Error</span>
        </div>
      </ng-template>
    </imx-data-table-generic-column>
    <imx-data-table-column [entityColumn]="entitySchema?.Columns.XDateInserted">
      <ng-template let-dataItem>
        <span>{{ getDateTimeString(dataItem.XDateInserted.value) }}</span>
      </ng-template>
    </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchema?.Columns.GenProcID"> </imx-data-table-column>
    <imx-data-table-column [entityColumn]="entitySchema?.Columns.ErrorMessages" [columnLabel]="'#LDS#Message' | translate">
      <ng-template let-dataItem>
        <button [disabled]="dataItem.ErrorMessages == null || dataItem.ErrorMessages.value === ''" mat-button color="primary" (click)="showMessage($event, dataItem)">
          {{ '#LDS#Show message' | translate }}
        </button>
      </ng-template>
    </imx-data-table-column>
  </imx-data-table>
  <imx-data-source-paginator [dst]="dst"></imx-data-source-paginator>
</div>
