<div class="page">
  <ng-container *ngIf="isLoggedIn">
    <imx-mast-head [menuItems]="menuItems" [hidden]="isPageHeadless">
      <span imx-profile-menu-items>
        <button mat-menu-item data-imx-identifier="user-menu-profile" (click)="goToProfile()">
          <span translate>#LDS#Menu Entry Profile</span>
        </button>
        <button mat-menu-item data-imx-identifier="user-menu-addressbook" (click)="goToAddressbook()">
          <span translate>#LDS#Menu Entry Address book</span>
        </button>
        <button mat-menu-item data-imx-identifier="user-menu-settings" (click)="openSettingsDialog()">
          <span translate>#LDS#Menu Entry User interface settings</span>
        </button>
        <button mat-menu-item data-imx-identifier="user-menu-my-processes" (click)="goToMyProcesses()">
          <span translate>#LDS#Menu Entry My processes</span>
        </button>
      </span>
    </imx-mast-head>
  </ng-container>
  <div class="pageContent" [ngClass]="{ 'pageContent--full-page': isContentFullScreen }">
    <imx-usermessage *ngIf="isLoggedIn" [hidden]="hideUserMessage"></imx-usermessage>
    <router-outlet *ngIf="showPageContent"></router-outlet>
  </div>
</div>
