<div class="page">
    <ng-container *ngIf="isLoggedIn">
        <imx-mast-head [hidden]="isPageHeadless">
            <span imx-profile-menu-items>
                <button mat-menu-item data-imx-identifier="user-menu-settings" (click)="openSettingsDialog()">
                  <span translate>#LDS#Menu Entry User interface settings</span>
                </button>
              </span>
        </imx-mast-head>
    </ng-container>
    <div class="pageContent">
        <imx-usermessage *ngIf="isLoggedIn" [hidden]="hideUserMessage"></imx-usermessage>
        <router-outlet *ngIf="showPageContent"></router-outlet>
    </div>
</div>
