<div mat-dialog-content>
  <imx-fk-candidates #fkSelector [data]="data" (itemPicked)="applySelection($event)" (selectionChanged)="selectionChanged($event)"></imx-fk-candidates>
</div>

<div mat-dialog-actions>
  <button *ngIf="selectedItems?.length > 0" mat-stroked-button type="button" (click)="fkSelector.clearSelection()" data-imx-identifier="requests-selector-clear-selection">
    <span translate>#LDS#Clear selection</span>
  </button>
  <button mat-stroked-button mat-dialog-close data-imx-identifier="requests-selector-cancel-action">
    <span translate>#LDS#Cancel</span>
  </button>
  <button *ngIf="data?.isMultiValue" mat-raised-button color="primary"
   [disabled]="selectedItems?.length === 0"  (click)="applySelection()" data-imx-identifier="requests-selector-apply-selection">
    <span translate>#LDS#Apply</span>
  </button>
</div>
